{% if page.url == "/" %}
    {% assign icon_path = "./assets/icon" %}
{% else %}
    {% assign icon_path = "../assets/icon" %}
{% endif %}

<link rel="apple-touch-icon" sizes="180x180" href="{{icon_path}}/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{icon_path}}/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{icon_path}}/favicon-16x16.png">
<link rel="manifest" href="{{icon_path}}/site.webmanifest">
<link rel="mask-icon" href="{{icon_path}}/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">