---
# Only the main Sass file needs front matter (the dashes are enough)
---

.contact-form {
    padding: 0;
    margin-top: 1.5em;
}

.site-title {
    font-size: 1.5em;
}

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials